:root{
--ouds-radius-none:0;--ouds-radius-small:4px;--ouds-radius-medium:8px;--ouds-radius-large:12px;--ouds-radius-pill:2000px;
--ouds-border-thin:1px;--ouds-border-medium:2px;--ouds-border-thick:3px;--ouds-border-thicker:4px;
}
