@import "./colors-raw.css";

:root, [data-theme="light"]{
--ouds-color-action-disabled:rgba(0,0,0,.2);
--ouds-color-action-enabled:var(--ouds-black);
--ouds-color-action-focus:rgba(0,0,0,.68);
--ouds-color-action-highlighted:var(--ouds-black);
--ouds-color-action-hover:rgba(0,0,0,.68);
--ouds-color-action-loading:var(--ouds-orange-550);
--ouds-color-action-negative-enabled:var(--ouds-scarlet-600);
--ouds-color-action-negative-hover:var(--ouds-scarlet-700);
--ouds-color-action-negative-focus:var(--ouds-scarlet-700);
--ouds-color-action-negative-loading:var(--ouds-scarlet-800);
--ouds-color-action-negative-pressed:var(--ouds-scarlet-800);
--ouds-color-action-pressed:var(--ouds-orange-550);
--ouds-color-action-selected:var(--ouds-orange-550);
--ouds-color-action-support-disabled:rgba(0,0,0,.04);
--ouds-color-action-support-enabled:rgba(0,0,0,.04);
--ouds-color-action-support-hover:rgba(0,0,0,.08);
--ouds-color-action-support-focus:rgba(0,0,0,.08);
--ouds-color-action-support-loading:rgba(0,0,0,.12);
--ouds-color-action-support-pressed:rgba(0,0,0,.12);
--ouds-color-action-visited:var(--ouds-amethyst-600);
--ouds-color-always-black:var(--ouds-black);
--ouds-color-always-white:var(--ouds-white);
--ouds-color-always-on-black:var(--ouds-gray-light-160);
--ouds-color-always-on-white:var(--ouds-black);
--ouds-color-bg-primary:var(--ouds-white);
--ouds-color-bg-secondary:var(--ouds-gray-light-80);
--ouds-color-bg-tertiary:var(--ouds-warm-gray-100);
--ouds-color-bg-inverse-high:var(--ouds-gray-dark-880);
--ouds-color-bg-inverse-low:var(--ouds-gray-dark-880);
--ouds-color-border-brand-primary:var(--ouds-orange-550);
--ouds-color-border-default:rgba(0,0,0,.2);
--ouds-color-border-emphasized:var(--ouds-black);
--ouds-color-border-focus:var(--ouds-black);
--ouds-color-border-focus-inset:var(--ouds-white);
--ouds-color-border-minimal:rgba(0,0,0,.04);
--ouds-color-border-muted:rgba(0,0,0,.08);
--ouds-color-border-on-brand-primary:var(--ouds-black);
--ouds-color-border-status-accent:var(--ouds-orange-500);
--ouds-color-border-status-info:var(--ouds-dodger-blue-700);
--ouds-color-border-status-negative:var(--ouds-scarlet-600);
--ouds-color-border-status-positive:var(--ouds-malachite-750);
--ouds-color-border-status-warning:var(--ouds-sun-500);
--ouds-color-content-brand-primary:var(--ouds-orange-550);
--ouds-color-content-default:var(--ouds-black);
--ouds-color-content-disabled:rgba(0,0,0,.2);
--ouds-color-content-inverse:var(--ouds-white);
--ouds-color-content-muted:rgba(0,0,0,.68);
--ouds-color-content-on-action-disabled:var(--ouds-white);
--ouds-color-content-on-action-enabled:var(--ouds-white);
--ouds-color-content-on-action-hover:var(--ouds-white);
--ouds-color-content-on-action-focus:var(--ouds-white);
--ouds-color-content-on-action-loading:var(--ouds-white);
--ouds-color-content-on-action-pressed:var(--ouds-white);
--ouds-color-content-on-action-highlighted:var(--ouds-white);
--ouds-color-content-on-action-selected:var(--ouds-white);
--ouds-color-content-on-brand-primary:var(--ouds-black);
--ouds-color-content-on-status-accent-emphasized:var(--ouds-black);
--ouds-color-content-on-status-accent-muted:var(--ouds-black);
--ouds-color-content-on-status-info-emphasized:var(--ouds-white);
--ouds-color-content-on-status-info-muted:var(--ouds-black);
--ouds-color-content-on-status-negative-emphasized:var(--ouds-white);
--ouds-color-content-on-status-negative-muted:var(--ouds-black);
--ouds-color-content-on-status-positive-emphasized:var(--ouds-white);
--ouds-color-content-on-status-positive-muted:var(--ouds-black);
--ouds-color-content-on-status-warning-emphasized:var(--ouds-black);
--ouds-color-content-on-status-warning-muted:var(--ouds-black);
--ouds-color-content-status-accent:var(--ouds-orange-500);
--ouds-color-content-status-info:var(--ouds-dodger-blue-700);
--ouds-color-content-status-negative:var(--ouds-scarlet-600);
--ouds-color-content-status-positive:var(--ouds-malachite-750);
--ouds-color-content-status-warning:var(--ouds-sun-750);
--ouds-color-opacity-lower:rgba(0,0,0,.08);
--ouds-color-opacity-lowest:rgba(0,0,0,.04);
--ouds-color-opacity-transparent:rgba(0,0,0,0);
--ouds-color-overlay-backdrop:rgba(0,0,0,.68);
--ouds-color-overlay-drag:rgba(0,0,0,.04);
--ouds-color-overlay-dropdown:var(--ouds-white);
--ouds-color-overlay-modal-sheet:var(--ouds-white);
--ouds-color-overlay-tooltip:var(--ouds-gray-dark-720);
--ouds-color-surface-brand-primary:var(--ouds-orange-500);
--ouds-color-surface-inverse-high:var(--ouds-gray-dark-720);
--ouds-color-surface-inverse-low:var(--ouds-gray-dark-720);
--ouds-color-surface-primary:var(--ouds-white);
--ouds-color-surface-secondary:rgba(0,0,0,.04);
--ouds-color-surface-tertiary:rgba(189,121,60,.08);
--ouds-color-surface-status-accent-emphasized:var(--ouds-orange-500);
--ouds-color-surface-status-accent-muted:rgba(189,121,60,.08);
--ouds-color-surface-status-info-emphasized:var(--ouds-dodger-blue-700);
--ouds-color-surface-status-info-muted:rgba(38,178,255,.08);
--ouds-color-surface-status-negative-emphasized:var(--ouds-scarlet-600);
--ouds-color-surface-status-negative-muted:rgba(219,0,2,.08);
--ouds-color-surface-status-positive-emphasized:var(--ouds-malachite-750);
--ouds-color-surface-status-positive-muted:rgba(61,227,90,.12);
--ouds-color-surface-status-warning-emphasized:var(--ouds-sun-500);
--ouds-color-surface-status-warning-muted:rgba(255,208,0,.16);
--ouds-elevation-color-drag:rgba(0,0,0,.24);
--ouds-elevation-color-elevated:rgba(0,0,0,.24);
--ouds-elevation-color-emphasized:rgba(0,0,0,.16);
--ouds-elevation-color-none:rgba(0,0,0,0);
--ouds-elevation-color-raised:rgba(0,0,0,.24);
--ouds-elevation-color-sticky:rgba(0,0,0,.16);
}

[data-theme="dark"]{
--ouds-color-action-disabled:rgba(255,255,255,.2);
--ouds-color-action-enabled:var(--ouds-gray-light-160);
--ouds-color-action-focus:rgba(255,255,255,.64);
--ouds-color-action-highlighted:var(--ouds-gray-light-160);
--ouds-color-action-hover:rgba(255,255,255,.64);
--ouds-color-action-loading:var(--ouds-orange-500);
--ouds-color-action-negative-enabled:var(--ouds-scarlet-300);
--ouds-color-action-negative-hover:var(--ouds-scarlet-200);
--ouds-color-action-negative-focus:var(--ouds-scarlet-200);
--ouds-color-action-negative-loading:var(--ouds-scarlet-100);
--ouds-color-action-negative-pressed:var(--ouds-scarlet-100);
--ouds-color-action-pressed:var(--ouds-orange-500);
--ouds-color-action-selected:var(--ouds-orange-500);
--ouds-color-action-support-disabled:rgba(255,255,255,.04);
--ouds-color-action-support-enabled:rgba(255,255,255,.04);
--ouds-color-action-support-hover:rgba(255,255,255,.08);
--ouds-color-action-support-focus:rgba(255,255,255,.08);
--ouds-color-action-support-loading:rgba(255,255,255,.12);
--ouds-color-action-support-pressed:rgba(255,255,255,.12);
--ouds-color-action-visited:var(--ouds-amethyst-400);
--ouds-color-always-black:var(--ouds-black);
--ouds-color-always-white:var(--ouds-white);
--ouds-color-always-on-black:var(--ouds-gray-light-160);
--ouds-color-always-on-white:var(--ouds-black);
--ouds-color-bg-primary:var(--ouds-gray-dark-880);
--ouds-color-bg-secondary:var(--ouds-gray-dark-800);
--ouds-color-bg-tertiary:var(--ouds-warm-gray-1000);
--ouds-color-bg-inverse-high:var(--ouds-gray-light-160);
--ouds-color-bg-inverse-low:var(--ouds-gray-dark-640);
--ouds-color-border-brand-primary:var(--ouds-orange-500);
--ouds-color-border-default:rgba(255,255,255,.2);
--ouds-color-border-emphasized:var(--ouds-gray-light-160);
--ouds-color-border-focus:var(--ouds-gray-light-160);
--ouds-color-border-focus-inset:var(--ouds-gray-dark-880);
--ouds-color-border-minimal:rgba(255,255,255,.04);
--ouds-color-border-muted:rgba(255,255,255,.08);
--ouds-color-border-on-brand-primary:var(--ouds-black);
--ouds-color-border-status-accent:var(--ouds-orange-500);
--ouds-color-border-status-info:var(--ouds-dodger-blue-300);
--ouds-color-border-status-negative:var(--ouds-scarlet-300);
--ouds-color-border-status-positive:var(--ouds-malachite-300);
--ouds-color-border-status-warning:var(--ouds-sun-300);
--ouds-color-content-brand-primary:var(--ouds-orange-500);
--ouds-color-content-default:var(--ouds-gray-light-160);
--ouds-color-content-disabled:rgba(255,255,255,.2);
--ouds-color-content-inverse:var(--ouds-black);
--ouds-color-content-muted:rgba(255,255,255,.64);
--ouds-color-content-on-action-disabled:var(--ouds-black);
--ouds-color-content-on-action-enabled:var(--ouds-black);
--ouds-color-content-on-action-hover:var(--ouds-black);
--ouds-color-content-on-action-focus:var(--ouds-black);
--ouds-color-content-on-action-loading:var(--ouds-black);
--ouds-color-content-on-action-pressed:var(--ouds-black);
--ouds-color-content-on-action-highlighted:var(--ouds-black);
--ouds-color-content-on-action-selected:var(--ouds-black);
--ouds-color-content-on-brand-primary:var(--ouds-black);
--ouds-color-content-on-status-accent-emphasized:var(--ouds-black);
--ouds-color-content-on-status-accent-muted:var(--ouds-gray-light-160);
--ouds-color-content-on-status-info-emphasized:var(--ouds-black);
--ouds-color-content-on-status-info-muted:var(--ouds-gray-light-160);
--ouds-color-content-on-status-negative-emphasized:var(--ouds-black);
--ouds-color-content-on-status-negative-muted:var(--ouds-gray-light-160);
--ouds-color-content-on-status-positive-emphasized:var(--ouds-black);
--ouds-color-content-on-status-positive-muted:var(--ouds-gray-light-160);
--ouds-color-content-on-status-warning-emphasized:var(--ouds-black);
--ouds-color-content-on-status-warning-muted:var(--ouds-gray-light-160);
--ouds-color-content-status-accent:var(--ouds-orange-500);
--ouds-color-content-status-info:var(--ouds-dodger-blue-300);
--ouds-color-content-status-negative:var(--ouds-scarlet-300);
--ouds-color-content-status-positive:var(--ouds-malachite-300);
--ouds-color-content-status-warning:var(--ouds-sun-300);
--ouds-color-opacity-lower:rgba(255,255,255,.08);
--ouds-color-opacity-lowest:rgba(255,255,255,.04);
--ouds-color-opacity-transparent:rgba(255,255,255,0);
--ouds-color-overlay-backdrop:rgba(0,0,0,.68);
--ouds-color-overlay-drag:rgba(255,255,255,.08);
--ouds-color-overlay-dropdown:var(--ouds-gray-dark-560);
--ouds-color-overlay-modal-sheet:var(--ouds-gray-dark-720);
--ouds-color-overlay-tooltip:var(--ouds-gray-dark-560);
--ouds-color-surface-brand-primary:var(--ouds-orange-500);
--ouds-color-surface-inverse-high:var(--ouds-gray-light-160);
--ouds-color-surface-inverse-low:rgba(255,255,255,.12);
--ouds-color-surface-primary:rgba(255,255,255,.04);
--ouds-color-surface-secondary:rgba(255,255,255,.08);
--ouds-color-surface-tertiary:rgba(104,93,80,.4);
--ouds-color-surface-status-accent-emphasized:var(--ouds-orange-500);
--ouds-color-surface-status-accent-muted:rgba(104,93,80,.4);
--ouds-color-surface-status-info-emphasized:var(--ouds-dodger-blue-300);
--ouds-color-surface-status-info-muted:rgba(0,89,138,.52);
--ouds-color-surface-status-negative-emphasized:var(--ouds-scarlet-300);
--ouds-color-surface-status-negative-muted:rgba(219,0,2,.32);
--ouds-color-surface-status-positive-emphasized:var(--ouds-malachite-300);
--ouds-color-surface-status-positive-muted:rgba(14,98,29,.64);
--ouds-color-surface-status-warning-emphasized:var(--ouds-sun-300);
--ouds-color-surface-status-warning-muted:rgba(102,81,0,.48);
--ouds-elevation-color-drag:rgba(0,0,0,.32);
--ouds-elevation-color-elevated:rgba(0,0,0,.32);
--ouds-elevation-color-emphasized:rgba(0,0,0,.24);
--ouds-elevation-color-raised:rgba(0,0,0,.32);
--ouds-elevation-color-sticky:rgba(0,0,0,.24);
}
