:root{
--ouds-orange-50:#fff2e6;
--ouds-orange-100:#ffd5b0;
--ouds-orange-200:#ffc18a;
--ouds-orange-300:#ffa554;
--ouds-orange-400:#ff9433;
--ouds-orange-500:#ff7900;
--ouds-orange-550:#f15e00;
--ouds-orange-600:#e86e00;
--ouds-orange-700:#b55600;
--ouds-orange-800:#8c4300;
--ouds-orange-900:#6b3300;
--ouds-warm-gray-100:#f9f5f0;
--ouds-warm-gray-200:#e9ddce;
--ouds-warm-gray-300:#d6c4ae;
--ouds-warm-gray-400:#c1ab90;
--ouds-warm-gray-500:#a99275;
--ouds-warm-gray-600:#8a7860;
--ouds-warm-gray-700:#685d50;
--ouds-warm-gray-800:#48433d;
--ouds-warm-gray-900:#353228;
--ouds-warm-gray-1000:#23211a;
--ouds-gray-light-80:#f4f4f4;
--ouds-gray-light-160:#eee;
--ouds-gray-light-240:#e0e0e0;
--ouds-gray-light-320:#d6d6d6;
--ouds-gray-light-400:#ccc;
--ouds-gray-light-480:#c2c2c2;
--ouds-gray-light-560:#bbb;
--ouds-gray-light-640:#adadad;
--ouds-gray-light-720:#a3a3a3;
--ouds-gray-light-800:#999;
--ouds-gray-light-880:#8f8f8f;
--ouds-gray-light-960:#858585;
--ouds-gray-dark-80:#7a7a7a;
--ouds-gray-dark-160:#707070;
--ouds-gray-dark-240:#666;
--ouds-gray-dark-320:#5c5c5c;
--ouds-gray-dark-400:#555;
--ouds-gray-dark-480:#444;
--ouds-gray-dark-560:#3b3b3b;
--ouds-gray-dark-640:#333;
--ouds-gray-dark-720:#272727;
--ouds-gray-dark-800:#1f1f1f;
--ouds-gray-dark-880:#141414;
--ouds-gray-dark-960:#0a0a0a;
--ouds-scarlet-100:#ffe5e6;
--ouds-scarlet-200:#ffb2b3;
--ouds-scarlet-300:#ff8081;
--ouds-scarlet-400:#ff4d4e;
--ouds-scarlet-500:#ff1a1b;
--ouds-scarlet-600:#db0002;
--ouds-scarlet-700:#b20002;
--ouds-scarlet-800:#800001;
--ouds-scarlet-900:#4d0001;
--ouds-malachite-100:#edfcf0;
--ouds-malachite-200:#c1f6ca;
--ouds-malachite-300:#94f0a4;
--ouds-malachite-400:#67e97e;
--ouds-malachite-500:#3de35a;
--ouds-malachite-600:#1ecd3c;
--ouds-malachite-700:#17a02f;
--ouds-malachite-750:#138126;
--ouds-malachite-800:#0e621d;
--ouds-malachite-900:#0a4715;
--ouds-sun-100:#fff7d6;
--ouds-sun-200:#ffed99;
--ouds-sun-300:#ffe270;
--ouds-sun-400:#ffd73d;
--ouds-sun-500:#ffd000;
--ouds-sun-600:#d6aa00;
--ouds-sun-700:#a38200;
--ouds-sun-750:#856a00;
--ouds-sun-800:#665100;
--ouds-sun-900:#3d3100;
--ouds-dodger-blue-100:#f0faff;
--ouds-dodger-blue-200:#bde7ff;
--ouds-dodger-blue-300:#8ad5ff;
--ouds-dodger-blue-400:#57c3ff;
--ouds-dodger-blue-500:#26b2ff;
--ouds-dodger-blue-600:#009bf0;
--ouds-dodger-blue-700:#0073b2;
--ouds-dodger-blue-800:#00598a;
--ouds-dodger-blue-900:#003857;
--ouds-amethyst-100:#f1ecf9;
--ouds-amethyst-200:#e0d4f2;
--ouds-amethyst-300:#c5ade6;
--ouds-amethyst-400:#a885d8;
--ouds-amethyst-500:#8d60cd;
--ouds-amethyst-600:#5b2f98;
--ouds-amethyst-700:#432371;
--ouds-amethyst-800:#2c174a;
--ouds-amethyst-900:#150b23;
--ouds-amber-100:#fff0cc;
--ouds-amber-300:#ffd266;
--ouds-amber-500:#ffb400;
--ouds-amber-700:#996c00;
--ouds-amber-900:#332400;
--ouds-deep-peach-100:#fbebdf;
--ouds-deep-peach-300:#e3b591;
--ouds-deep-peach-500:#cf7e3f;
--ouds-deep-peach-700:#7e4f2a;
--ouds-deep-peach-900:#2e2014;
--ouds-emerald-100:#e5f5ed;
--ouds-emerald-300:#9bdaba;
--ouds-emerald-500:#50be87;
--ouds-emerald-700:#2e7b54;
--ouds-emerald-900:#123021;
--ouds-shocking-pink-100:#ffe5f6;
--ouds-shocking-pink-300:#ff80d4;
--ouds-shocking-pink-500:#ff1ab2;
--ouds-shocking-pink-700:#b20077;
--ouds-shocking-pink-900:#4d0033;
--ouds-sky-100:#d2ecf9;
--ouds-sky-300:#79c7ec;
--ouds-sky-500:#1fa2e0;
--ouds-sky-700:#136186;
--ouds-sky-900:#06202d;
--ouds-black:#000000;
--ouds-white:#ffffff;
}
