:root{
--ouds-space-scaled-none:0;
--ouds-space-scaled-3xsmall:4px;
--ouds-space-scaled-2xsmall:8px;
--ouds-space-scaled-xsmall:16px;
--ouds-space-scaled-small:24px;
--ouds-space-scaled-medium:32px;
--ouds-space-scaled-large:40px;
--ouds-space-scaled-xlarge:48px;
--ouds-space-scaled-2xlarge:56px;
--ouds-space-scaled-3xlarge:64px;
--ouds-space-fixed-none:0;
--ouds-space-fixed-3xsmall:2px;
--ouds-space-fixed-2xsmall:4px;
--ouds-space-fixed-xsmall:8px;
--ouds-space-fixed-small:12px;
--ouds-space-fixed-medium:16px;
--ouds-space-fixed-large:24px;
--ouds-space-fixed-xlarge:32px;
--ouds-space-fixed-2xlarge:40px;
--ouds-space-fixed-3xlarge:48px;
--ouds-space-fixed-4xlarge:56px;
--ouds-space-fixed-5xlarge:64px;
}
